body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background: none transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

.title-wrapper{
    margin-top: 300px;
    color: #000000;
}

.title-text{
    font-size: 40px;
    width: 100%;
}

.text-green{
  color: green;
  font-weight: bold;
  font-size: 45px;
}

.text-gray{
  color: gray;
  font-weight: bold;
  font-size: 45px;
}

.search-wrapper{
    margin-top: 50px;
}

.search{
    height: 50px;
}

.search-btn{
    position: center;
    border: 0;
}

.search-btn:hover {
    opacity: 0.7;
}

.color-btn{
    color: aliceblue;
    text-shadow: none;
    background-image: none;
}

.back-color{
    background-color: #242f3f;
}

.pad-top50{
    padding-top: 50px;
}

.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    margin: 5px 0 0;
}

.loading-text{
    width: 100%;
    height: 100%;
    font-size: 36px;
    color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

.explanations-wrapper{
    padding-top: 50px;
}

.card-size{
    margin: 10px;
    width: 12rem;
}

.negative-card{
    background-color: red;
}

.positive-card{
    background-color: cyan;
}

.chart-wordcloud {
    overflow: visible !important;
}

.gender-img{
    height: 100px;
    width: 100px;
    margin: auto;
}

.chart-container {
    float: left;
    width: 100%;
    height: 450px;
}

.radar-chart{
    height: 450px;
    width: 450px;
    margin-bottom: 50px;
}

#mapid { height: 180px; }

.bg-dark {
    background-color: #242f3f !important;
    }