<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} Mediator {% endblock %}</title>
    {% block head %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- CDN declarations -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
            integrity="sha256-c9vxcXyAG4paArQG3xk6DjyW/9aHxai2ef9RpMWO44A=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"
            integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css"
          integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g=="
          crossorigin="anonymous"/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    {#    <link rel="stylesheet" type="text/css" href="../static/style.css"/>#}
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .navbar {
            background: none transparent;
            border-radius: 0;
            box-shadow: none;
            border: none;
        }

        .title-wrapper {
        {#margin-top: 300px;#} color: #000000;
        }

        .main-form-wrapper {
            min-height: 100vh;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        .main-form-inner {
            display: block;
            width: 100%;
        }

        .title-text {
            font-size: 40px;
            width: 100%;
            color: hotpink;
            margin-bottom: 15px;
        }

        .text-green {
            color: green;
            font-weight: bold;
            font-size: 45px;
        }

        .text-gray {
            color: gray;
            font-weight: bold;
            font-size: 45px;
        }

        .search-wrapper {
            margin-top: 50px;
        }

        .search {
            height: 50px;
        }

        .search-btn {
            position: center;
            border: 0;
        }

        .search-btn:hover {
            opacity: 0.7;
        }

        .color-btn {
            color: aliceblue;
            text-shadow: none;
            background-image: none;
        }

        .back-color {
            background-color: #242f3f;
        }

        .pad-top50 {
            padding-top: 50px;
        }

        .error-message {
            color: #cc0033;
            display: inline-block;
            font-size: 20px;
            line-height: 20px;
            margin: 5px 0 0;
        }

        .loading-text {
            width: 100%;
            height: 100%;
            font-size: 36px;
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .loader-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #242f3f;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .loader {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: relative;
            border: 4px solid #Fff;
            animation: loader 2s infinite ease;
        }

        .loader-inner {
            vertical-align: top;
            display: inline-block;
            width: 100%;
            background-color: #fff;
            animation: loader-inner 2s infinite ease-in;
        }

        @keyframes loader {
            0% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(180deg);
            }
            50% {
                transform: rotate(180deg);
            }
            75% {
                transform: rotate(360deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes loader-inner {
            0% {
                height: 0%;
            }
            25% {
                height: 0%;
            }
            50% {
                height: 100%;
            }
            75% {
                height: 100%;
            }
            100% {
                height: 0%;
            }
        }

        .explanations-wrapper {
            padding-top: 50px;
        }

        .card-size {
            margin: 10px;
            width: 12rem;
        }

        .negative-card {
            background-color: red;
        }

        .positive-card {
            background-color: cyan;
        }

        .chart-wordcloud {
            overflow: visible !important;
        }

        .gender-img {
            height: 100px;
            width: 100px;
            margin: auto;
        }

        .chart-container {
            float: left;
            width: 100%;
            height: 450px;
        }

        .radar-chart {
            height: 450px;
            width: 450px;
            margin-bottom: 50px;
        }

        #mapid {
            height: 180px;
        }

        .bg-dark {
            background-color: #242f3f !important;
        }

        .form-main label {
            margin-left: 5px;
        }
        .lead{
            font-size: 1.75rem;
        }
        .translate-y-n100{
            transform: translateY(-100px);
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/analytics">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/api">API</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/publications">Publications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/datasets">Datasets</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Body -->
<div class="main-container">
    {% block body %}
        <div class="container-fluid">

        </div>
    {% endblock %}
</div>


</body>
</html>
