{% extends "base.html" %}
{% block head %}
    <script>
        function showLoading() {
            document.getElementById('loader-wrapper').style.display = "flex";
        }
    </script>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="main-form-wrapper">
                    <div class="main-form-inner">
                        <div class="title-wrapper">
                            <div class="home-title">
                                <symbol id="s-text">
                                    <h1><u>MEDIATOR</u></h1>
                                    <text><h2 class="text-secondary">Multi Aspect User Profiling</h2></text>
                                </symbol>
                            </div>
                        </div>
                        <div class="container-fluid search-wrapper">
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <form method="POST" class="form-inline form-main" id="submit_form">
                                        <div class="input-group" style="width: 100%;">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text color-btn back-color"
                                                      id="basic-addon1">@</span>
                                            </div>
                                            <input type="text" class="form-control search" name="Username"
                                                   placeholder="Username" aria-label="Username"
                                                   aria-describedby="basic-addon1" id="Username">
                                            <button type="submit" class="search search-btn color-btn back-color"
                                                    onclick="showLoading()">
                                                <i aria-hidden="true" class="search icon"></i>Check account
                                            </button>
                                        </div>
                                        <div class="container-fluid" style="margin-top: 25px;">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-check form-check-left">
                                                        <input type="hidden" name="age" value="0"><input type="checkbox"
                                                                                                         onclick="this.previousSibling.value=1-this.previousSibling.value">
                                                        <label class="form-check-label" for="age">
                                                            Age
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-left">
                                                        <input type="hidden" name="gender" value="0"><input
                                                            type="checkbox"
                                                            onclick="this.previousSibling.value=1-this.previousSibling.value">
                                                        <label class="form-check-label" for="gender">
                                                            Gender
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-left">
                                                        <input type="hidden" name="location" value="0"><input
                                                            type="checkbox"
                                                            onclick="this.previousSibling.value=1-this.previousSibling.value">
                                                        <label class="form-check-label" for="location">
                                                            Location & Ethnicity
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-check">
                                                        <input type="hidden" name="emotion" value="0"><input
                                                            type="checkbox"
                                                            onclick="this.previousSibling.value=1-this.previousSibling.value">
                                                        <label class="form-check-label" for="emotion">
                                                            Emotion
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input type="hidden" name="sentiment" value="0"><input
                                                            type="checkbox"
                                                            onclick="this.previousSibling.value=1-this.previousSibling.value">
                                                        <label class="form-check-label" for="sentiment">
                                                            Sentiment
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-check">
                                                        <input type="hidden" name="personality" value="0"><input
                                                            type="checkbox"
                                                            onclick="this.previousSibling.value=1-this.previousSibling.value">
                                                        <label class="form-check-label" for="personality">
                                                            Personality
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input type="hidden" name="topics" value="0"><input
                                                            type="checkbox"
                                                            onclick="this.previousSibling.value=1-this.previousSibling.value">
                                                        <label class="form-check-label" for="topics">
                                                            Topics
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if error %}
                                            <div class="alert alert-error error-message">
                                                <strong>Couldn't find the user... Please try again!</strong>
                                            </div>
                                        {% endif %}
                                    </form>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loader-wrapper" style="display: none;">
        <div class="loader-wrapper">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
        <div class="loading-text">
            This could take several minutes...
        </div>
    </div>


    {% if username %}
        <div class="container">
            <div class="text-center">
                <h1><small class="text-muted">Username:</small> {{ username }}</h1>
            </div>
        </div>
    {% endif %}


    {% if gender %}
        <div class="container explanations-wrapper">
            <div class="row text-center">
                <div class="col-12">
                    <h2 class="text-center">
                        Gender: {{ gender }}
                    </h2>
                </div>
            </div>
            <hr/>
            <div class="row">
                {% if 'Male' in gender %}
                    <img class="gender-img" src="../static/img/male.PNG" alt="Male">
                {% else %}
                    <img class="gender-img" src="../static/img/female.PNG" alt="Female">
                {% endif %}
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="row text-center">
                        <h3>
                            Contextual model explanations
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 m-auto">
                            <div class="lead mt-3">
                                <p>
                                    The explanations above are extracted from contextual data. Word-cloud contains
                                     representative words for the predicted class Male - Female.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 m-auto">
                            <canvas id="canvas"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-12  mt-3" style="margin-top: 70px;">
                    <div class="row text-center">
                        <h3>
                            Representative words - Explanations from Text model
                        </h3>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div id="genderChart" class="chart-wordcloud"></div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if age %}
        <div class="container explanations-wrapper text-center">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <p class="lead">The word-cloud below highlights the most representative words for
                        this age group category used by the user.</p>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class=" col-md-12 text-center mb-3"><h2>Age groups</h2></div>
                                <div class="col-md-6">
                                    <h3>18-24</h3>
                                    <img class="" src="../static/img/18-24.png">
                                    <div class="title-text">
                                        {{ age_groups['18-24'] }}%
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>25-34</h3>
                                    <img class="" src="../static/img/25-34.png">
                                    <div class="title-text">
                                        {{ age_groups['25-34'] }}%
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>35-49</h3>
                                    <img class="" src="../static/img/35-54.png">
                                    <div class="title-text">
                                        {{ age_groups['35-49'] }}%
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3>55+</h3>
                                    <img class="" src="../static/img/55-XX.png">
                                    <div class="title-text">
                                        {{ age_groups['50-XX'] }}%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    {% if not age_explain %}
                        <div class="alert alert-danger" role="alert">
                            There aren't any words which provide significant impact on the prediction.
                        </div>
                    {% endif %}
                    <div id="ageChart" class="chart-wordcloud"></div>
                </div>
            </div>

        </div>
    {% endif %}

    {% if sentiment %}
        <div class="container explanations-wrapper">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">
                        Sentiment
                    </h2>
                </div>
                <div id="sentimentRadar" class="chart-container" style="height: 450px;"></div>
            </div>
            <div class="row">
                <div class="d-flex align-items-center translate-y-n100">
                    <p class="lead">The charts above presents the percentages of each Sentiment category. Below the most
                        indicative tweets for each class are presented.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 translate-y-n100">
                    {% for tweet in sentiment_explain_positive %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="card-text">{{ loop.index }}. {{ tweet }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% if not sentiment_explain_positive %}
                        <div class="alert alert-danger" role="alert">
                          Couldn't detect a positive tweet!
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4 translate-y-n100">
                    {% for tweet in sentiment_explain_neutral %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="card-text">{{ loop.index }}. {{ tweet }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% if not sentiment_explain_neutral %}
                        <div class="alert alert-danger" role="alert">
                          Couldn't detect a neutral tweet!
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4 translate-y-n100">
                    {% for tweet in sentiment_explain_negative %}
                        <div class="card mb-3">
                            <div class="card-body">
                                <p class="card-text">{{ loop.index }}. {{ tweet }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% if not sentiment_explain_negative %}
                        <div class="alert alert-danger" role="alert">
                          Couldn't detect a negative tweet!
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    {% endif %}

    {% if anger %}
        <div class="container explanations-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        Emotion
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="lead mt-3">
                        <p>
                            Chart presents the percentage of each emotion detected in the tweets of the user.
                        </p>
                        <p>
                            The word-clouds below highlights the most representative words for
                        each emotion used by the user.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 radar-chart" style="height: 450px;width: 450px;margin-bottom: 50px;">
                    <canvas id="emotionChart"></canvas>
                </div>
                <div class="col-lg-6  text-center">
                    <div class="title-text">
                        Anger: {{ anger }}%
                    </div>
                    <div id="angerChart" class="chart-wordcloud"></div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="title-text">
                        Disgust: {{ disgust }}%
                    </div>
                    <div id="disgustChart" class="chart-wordcloud"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <div class="title-text">
                        Sadness: {{ sadness }}%
                    </div>
                    <div id="sadnessChart" class="chart-wordcloud"></div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="title-text">
                        Joy: {{ joy }}%
                    </div>
                    <div id="joyChart" class="chart-wordcloud"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <div class="title-text">
                        Fear: {{ fear }}%
                    </div>
                    <div id="fearChart" class="chart-wordcloud"></div>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="title-text">
                        Surprise: {{ surprise }}%
                    </div>
                    <div id="surpriseChart" class="chart-wordcloud"></div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if openness %}
        <div id="personality-section" class="container explanations-wrapper">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="title-text">
                        Personality
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="mt-3"><p class="lead">
                        Percentage of each OCEAN trait presented in the radar chart (right) based on the tweets of the user.
                        </br>Below charts present some factors that could reveal personality traits.
                    </p></div>
                </div>
                <div class="col-md-8">
                    <div class="chart_container">
                        <canvas id="oceanChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="row text-center mt-3">
                <div class="col-lg-12 js-controls m-3">
                    <a class="btn btn-light active" href="" data-title="open">O</a>
                    <a class="btn btn-light" href="" data-title="cons">C</a>
                    <a class="btn btn-light" href="" data-title="extr">E</a>
                    <a class="btn btn-light" href="" data-title="agre">A</a>
                    <a class="btn btn-light" href="" data-title="neur">N</a>
                </div>
            </div>
            <div class="row js-diagrams">
                <div class="col-lg-12" data-title="open">
                    <div class="row text-center">
                        <div class="title-text">
                            Openness: {#{{'%0.2f'| format(openness|float)}}#}
                        </div>
                    </div>
                    <div class="chart_container">
                        <canvas id="opennessChart"></canvas>
                    </div>
                </div>
                <div class="col-lg-12 d-none" data-title="cons">
                    <div class="row text-center">
                        <div class="title-text">
                            Conscientiousness: {#{{'%0.2f'| format(conscientious|float)}}#}
                        </div>
                    </div>
                    <div class="chart_container">
                        <canvas id="conscientiousChart"></canvas>
                    </div>

                </div>
                <div class="col-lg-12 d-none" data-title="extr">
                    <div class="row text-center">
                        <div class="title-text">
                            Extraversion: {#{{'%0.2f'| format(extraversion|float)}}#}
                        </div>
                    </div>
                    <div class="chart_container">
                        <canvas id="extraversionChart"></canvas>
                    </div>

                </div>
                <div class="col-lg-12 d-none" data-title="agre">
                    <div class="row text-center">
                        <div class="title-text">
                            Agreeableness: {#{{'%0.2f'| format(agreeableness|float)}}#}
                        </div>
                    </div>
                    <div class="chart_container">
                        <canvas id="agreeablenessChart"></canvas>
                    </div>

                </div>
                <div class="col-lg-12 d-none" data-title="neur">
                    <div class="row text-center">
                        <div class="title-text">
                            Neuroticism: {#{{'%0.2f'| format(neuroticism|float)}}#}
                        </div>
                    </div>
                    <div class="chart_container">
                        <canvas id="neuroticismChart"></canvas>
                    </div>
                </div>
                <div class="mt-3"><p class="lead">These charts presents the most valuable features for each of the aspects of
                        OCEAN model. Features with values greater than zero affect the prediction to high. Values
                        lower than zero affect each prediction to the lower values. </br>
                         Value range for each prediction: [0-5]
                    </p></div>
            </div>
        </div>
    {% endif %}
    <div class="container pb-3">
        <div class="row">
            <div class="col-md-6">
                {% if ethnicity %}
                    <div class="row text-center">
                        <div class="col-12">
                            <h2 class="title-text">
                                Ethnicity
                            </h2>
                        </div>
                    </div>
                    <div class="row text-center justify-content-center">
                        {% for key, value in ethnicity.items() %}
                            <div class="card ml-1 mr-1" style="width: 12rem;">
                                <img class="" src="../static/img/flags/{{ key }}.png">
                                <div class="card-body">
                                    <h5 class="card-title">{{ value }}%</h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="col-md-6">
                {% if location %}
                    <div class="title-text text-center">
                        Locations
                    </div>
                    <div id="mapid" style="width: 100%; height: 300px;"></div>
                    <script>
                        var mapOptions = {
                            center: [52.940692, -3.290210],
                            zoom: 2
                        }
                        var map = new L.map('mapid', mapOptions);
                        var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
                        map.addLayer(layer);
                        var coordinates = {{ location }};
                        {% for loc in location %}
                            marker2 = L.marker([{{ loc[0] }}, {{ loc[1] }}]).addTo(map);
                        {% endfor %}
                    </script>
                {% endif %}
            </div>
        </div>
    </div>

    {% if wordcloud %}
        <div class="container-fluid explanations-wrapper text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-text">
                        Topics
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="title-text">
                        Tags
                    </div>
                    <div id="tagcloudChart" class="chart-wordcloud"></div>
                </div>
                <div class="col-md-4">
                    <div class="title-text">
                        Unigrams
                    </div>
                    <div id="wordcloudChart" class="chart-wordcloud"></div>
                </div>
                <div class="col-md-4">
                    <div class="title-text">
                        Bigrams
                    </div>
                    <div id="bigramsChart" class="chart-wordcloud"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <iframe style="width: 950px;height: 650px;" frameborder="0"
                            src="file:///C:\Users\alouvoul\Documents\maup\model_trainer_module\app\templates\lda2.html"></iframe>
                </div>
            </div>
        </div>
    {% endif %}


    <!-- Gender charts -->
    <script>
        {% if gender_explain1 %}

            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []

            var myConfig = {
                type: 'wordcloud',
                options: {
                    words: [
                        {% for key, value in gender_explain1.items() %}
                            {% if value > 0 %}
                                {
                                    text: '{{ key }}',
                                    count: {{ value }}
                                },
                            {% endif %}
                        {% endfor %}
                    ],
                    style: {
                        fontFamily: 'Crete Round',
                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'genderChart',
                data: myConfig,
                height: '100%',
                width: '100%'
            });
        {% endif %}
    </script>

    <script>
        {% if gender_explain2 %}
            var horizontalBarChartData = {
                labels: [
                    {% for key, value in gender_explain2.items() %}
                        '{{ key }}',
                    {% endfor %}

                ],
                datasets: [{
                    label: 'Dataset 1',
                    borderWidth: 1,
                    backgroundColor: ['rgba(243, 250, 37, 0.40)', 'rgb(255, 99, 132, 0.40)','rgb(0, 255, 0, 0.40)',
                        'rgb(255, 99, 132, 0.40)','rgb(128, 255, 0, 0.40)','rgb(0, 255, 255, 0.40)','rgb(255, 255, 0, 0.40)',
                        'rgb(255, 255, 128, 0.40, )','rgba(243, 250, 37, 0.40)', 'rgb(255, 99, 132, 0.40)'
                    ],
                    data: [
                        {% for key, value in gender_explain2.items() %}
                            {{ value }},
                        {% endfor %}
                    ],
                    barThickness: 10,

                }],
                options: {scales: {xAxes: [{ticks: {beginAtZero: true}}]}},

            };

            window.onload = function () {
                var ctx = document.getElementById('canvas').getContext('2d');
                ctx.height = 500;
                window.myHorizontalBar = new Chart(ctx, {
                    type: 'horizontalBar',
                    data: horizontalBarChartData,
                    options: {
                        // Elements options apply to all of the options unless overridden in a dataset
                        // In this case, we are setting the border of each horizontal bar to be 2px wide
                        elements: {
                            rectangle: {
                                borderWidth: 2,
                            }
                        },
                        responsive: true,
                        legend: {
                            display: false,
                        },
                        title: {
                            display: true,
                            text: 'Gender Feature importance'
                        }
                    }
                });

            };

        {% endif %}
    </script>

    <!-- emotion charts -->
    <script>
        {% if anger %}

            var emotionRadarChartData = {
                labels: ['Anger', 'Disgust', 'Fear', 'Joy', 'Sadness', 'Surprise'],
                datasets: [{
                    data: [{{ anger }}, {{ disgust }}, {{ fear }}, {{ joy }}, {{ sadness }}, {{ surprise }},],
                    backgroundColor:
                        'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgb(255, 99, 132)',
                    pointBackgroundColor: 'rgb(255, 99, 132)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgb(255, 99, 132)'
                }]
            };

            window.onload = function () {
                var emotionRadar = document.getElementById('emotionChart').getContext('2d');
                emotionRadar.height = 500;
                window.myRadarChart = new Chart(emotionRadar, {
                    type: 'radar',
                    data: emotionRadarChartData,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        elements: {
                            line: {
                                borderWidth: 3
                            }
                        },
                        legend: {
                            display: false
                        },
                        scale: {
                            angleLines: {
                                display: false
                            },
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 100,
                                stepSize: 25,
                            }
                        }
                    }

                });
            }
        {% endif %}
    </script>

    <script>
        {% if age_explain %}
            var data = {{ age_explain|tojson|safe }};

            console.log(data);

            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []

            var myConfig = {
                type: 'wordcloud',
                options: {
                    words: [
                        {% for key, value in age_explain.items() %}
                            {% if value > 0 %}
                                {
                                    text: '{{ key }}',
                                    count: {{ value }}
                                },
                            {% endif %}
                        {% endfor %}
                    ],
                    style: {
                        fontFamily: 'Crete Round',

                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'ageChart',
                data: myConfig,
                height: '50%',
                width: '100%'
            });
        {% endif %}
    </script>

    <!-- Sentiment charts -->
    <script>
        {% if sentiment %}
            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []
            var graph = function (color, label, data, value) {
                console.log(parseFloat(data[1]));
                console.log(typeof (parseFloat(data[1])));
                return {
                    type: 'ring',
                    backgroundColor: '#fff',
                    plotarea: {
                        // Margin around each ring chart
                        margin: '0 50'
                    },
                    plot: {
                        slice: '80%', // Ring width,
                        detach: false, // Prevent ring piece from detaching on click
                        valueBox: [{
                            // Percentage text
                            type: 'first',
                            text: value || `${parseInt(data[0] * 100)}%`,
                            connected: false,
                            fontColor: color,
                            fontSize: '35px',
                            placement: 'center',
                            visible: true,
                            offsetY: '-65px',
                        },
                            {
                                // Label text
                                type: 'first',
                                text: label,
                                connected: false,
                                fontColor: '#718096',
                                fontSize: '20px',
                                placement: 'center',
                                visible: true,
                                offsetY: '-25px',
                            }
                        ],
                        animation: {
                            // Animation effect
                            effect: 3,
                            method: 0,
                            speed: 300,
                            sequence: 1
                        }
                    },
                    labels: [{
                        // Fraction text
                        text: `${data[0]}/${data[1]}`,
                        fontColor: color,
                        fontSize: '15px',
                        fontWeight: 100,
                        x: '70%',
                        y: '10%',
                    }],
                    scaleR: {
                        // Set to half ring
                        refAngle: 180,
                        aperture: 180
                    },
                    tooltip: {
                        // Hide tooltip
                        visible: false
                    },
                    series: [{
                            // First part of the ring (colored)
                            values: [parseFloat(data[0])],
                            backgroundColor: color,
                        },
                        {
                            // Remainder of ring
                            values: [parseFloat(data[1])],
                            backgroundColor: '#EDF2F7',
                        }
                    ]
                };
            };

            var positiveValue = {{ sentiment['positive'] }};

            var g1 = graph('#1EBAED', 'Positive', [positiveValue.toFixed(2), (1 - positiveValue).toFixed(2)]);
            var neutralValue = {{ sentiment['neutral'] }};
            var g2 = graph('#29CB6C', 'Neutral', [neutralValue.toFixed(2), (1 - neutralValue).toFixed(2)]);
            var negativeValue = {{ sentiment['negative'] }};
            var g3 = graph('#E7183D', 'Negative', [negativeValue.toFixed(2), (1 - negativeValue).toFixed(2)]);

            var sentimentData = {
                layout: 'horizontal', // Layout ring charts horizontally
                graphset: [g1, g2, g3],
            };

            zingchart.render({
                id: "sentimentRadar",
                height: '100%',
                width: '100%',
                data: sentimentData,
            });
        {% endif %}
    </script>

    <!-- Emotion charts -->
    <script>
        {% if anger_explain %}
            var data = {{ anger_explain|tojson|safe }};

            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []

            var myConfig = {
                type: 'wordcloud',
                options: {
                    rotate: true,
                    words: [
                        {% for key, value in anger_explain.items() %}
                            {% if value > 0 %}
                                {
                                    text: '{{ key }}',
                                    count: {{ value }}
                                },
                            {% endif %}
                        {% endfor %}
                    ],
                    style: {
                        fontFamily: 'Crete Round',

                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'angerChart',
                data: myConfig,
                height: '50%',
                width: '100%'
            });
        {% endif %}
        {% if disgust_explain %}
            var data = {{ disgust_explain|tojson|safe }};

            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []

            var myConfig = {
                type: 'wordcloud',
                options: {
                    rotate: true,
                    words: [
                        {% for key, value in disgust_explain.items() %}
                            {% if value > 0 %}
                                {
                                    text: '{{ key }}',
                                    count: {{ value }}
                                },
                            {% endif %}
                        {% endfor %}
                    ],
                    style: {
                        fontFamily: 'Crete Round',

                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'disgustChart',
                data: myConfig,
                height: '50%',
                width: '100%'
            });
        {% endif %}
        {% if fear_explain %}
            var data = {{ fear_explain|tojson|safe }};

            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []

            var myConfig = {
                type: 'wordcloud',
                options: {
                    rotate: true,
                    words: [
                        {% for key, value in fear_explain.items() %}
                            {% if value > 0 %}
                                {
                                    text: '{{ key }}',
                                    count: {{ value }}
                                },
                            {% endif %}
                        {% endfor %}
                    ],
                    style: {
                        fontFamily: 'Crete Round',

                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'fearChart',
                data: myConfig,
                height: '50%',
                width: '100%'
            });
        {% endif %}
        {% if joy_explain %}
            var data = {{ joy_explain|tojson|safe }};

            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []

            var myConfig = {
                type: 'wordcloud',
                options: {
                    rotate: true,
                    words: [
                        {% for key, value in joy_explain.items() %}
                            {% if value > 0 %}
                                {
                                    text: '{{ key }}',
                                    count: {{ value }}
                                },
                            {% endif %}
                        {% endfor %}
                    ],
                    style: {
                        fontFamily: 'Crete Round',

                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'joyChart',
                data: myConfig,
                height: '50%',
                width: '100%'
            });
        {% endif %}
        {% if sadness_explain %}
            var data = {{ sadness_explain|tojson|safe }};

            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []

            var myConfig = {
                type: 'wordcloud',
                options: {
                    rotate: true,
                    words: [
                        {% for key, value in sadness_explain.items() %}
                            {% if value > 0 %}
                                {
                                    text: '{{ key }}',
                                    count: {{ value }}
                                },
                            {% endif %}
                        {% endfor %}
                    ],
                    style: {
                        fontFamily: 'Crete Round',

                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'sadnessChart',
                data: myConfig,
                height: '50%',
                width: '100%'
            });
        {% endif %}
        {% if surprise_explain %}
            var data = {{ surprise_explain|tojson|safe }};

            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []

            var myConfig = {
                type: 'wordcloud',
                options: {
                    rotate: true,
                    words: [
                        {% for key, value in surprise_explain.items() %}
                            {% if value > 0 %}
                                {
                                    text: '{{ key }}',
                                    count: {{ value }}
                                },
                            {% endif %}
                        {% endfor %}
                    ],
                    style: {
                        fontFamily: 'Crete Round',

                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'surpriseChart',
                data: myConfig,
                height: '50%',
                width: '100%'
            });
        {% endif %}
    </script>

    <!-- Personality charts -->
    <script>
        $(".js-controls a").each(function () {
          var $this = $(this);
          var title = $this.attr("data-title");

          $this.on("click", function (e) {
            e.preventDefault();
            $(".js-controls .active").removeClass("active");
            $this.addClass('active');
            $(".js-diagrams .col-lg-12").addClass("d-none");
            $(".js-diagrams")
              .find(".col-lg-12")
              .filter(function () {
                if ($(this).attr("data-title") == title) {
                  return true;
                }
              })
              .removeClass("d-none");

            $([document.documentElement, document.body]).animate({
                scrollTop: $("#personality-section").offset().top
            }, 2000);

          });
        });

    </script>

    <script>
        {% if agreeableness_explain %}
            var backcolor = ['rgba(243, 250, 37, 0.40)', 'rgb(255, 99, 132, 0.40)','rgb(0, 255, 0, 0.40)',
                        'rgb(255, 99, 132, 0.40)','rgb(128, 255, 0, 0.40)','rgb(0, 255, 255, 0.40)','rgb(255, 255, 0, 0.40)',
                        'rgb(255, 255, 128, 0.40, )','rgba(243, 250, 37, 0.40)', 'rgb(255, 99, 132, 0.40)'
                    ];
            var barThick = 20;
            var opennessHorizontalBarChartData = {
                labels: [
                    {% for key, value in openness_explain.items() %}
                        '{{ key }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Dataset 1',
                    borderWidth: 1,
                    backgroundColor: backcolor,
                    data: [
                        {% for key, value in openness_explain.items() %}
                            {{ value }},
                        {% endfor %}
                    ],
                    barThickness: barThick,
                }],
                options: {scales: {xAxes: [{ticks: {beginAtZero: true}}]}},
            };

            var conscientiousHorizontalBarChartData = {
                labels: [
                    {% for key, value in conscientious_explain.items() %}
                        '{{ key }}',
                    {% endfor %}

                ],
                datasets: [{
                    label: 'Dataset 1',
                    borderWidth: 1,
                    backgroundColor: backcolor,
                    data: [
                        {% for key, value in conscientious_explain.items() %}
                            {{ value }},
                        {% endfor %}
                    ],
                    barThickness: barThick,

                }],
                options: {scales: {xAxes: [{ticks: {beginAtZero: true}}]}},

            };

            var extraversionHorizontalBarChartData = {
                labels: [
                    {% for key, value in extraversion_explain.items() %}
                        '{{ key }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Dataset 1',
                    borderWidth: 1,
                    backgroundColor: backcolor,
                    data: [
                        {% for key, value in extraversion_explain.items() %}
                            {{ value }},
                        {% endfor %}
                    ],
                    barThickness: barThick,

                }],
                options: {scales: {xAxes: [{ticks: {beginAtZero: true}}]}},

            };

            var agreeablenessHorizontalBarChartData = {
                labels: [
                    {% for key, value in agreeableness_explain.items() %}
                        '{{ key }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Dataset 1',
                    borderWidth: 1,
                    backgroundColor: backcolor,
                    data: [
                        {% for key, value in agreeableness_explain.items() %}
                            {{ value }},
                        {% endfor %}
                    ],
                    barThickness: barThick,

                }],
                options: {scales: {xAxes: [{ticks: {beginAtZero: true}}]}},

            };

            var neuroticismHorizontalBarChartData = {
                labels: [
                    {% for key, value in neuroticism_explain.items() %}
                        '{{ key }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: 'Dataset 1',
                    borderWidth: 1,
                    backgroundColor: backcolor,
                    data: [
                        {% for key, value in neuroticism_explain.items() %}
                            {{ value }},
                        {% endfor %}
                    ],
                    barThickness: barThick,

                }],
                options: {scales: {xAxes: [{ticks: {beginAtZero: true}}]}},
            };

            var options = {
                elements: {
                    rectangle: {
                        borderWidth: 2,
                    }
                },
                responsive: true,
                legend: {
                    display: false,
                },
                title: {
                    display: true,
                    text: 'Feature importance'
                }
            };

            var oceanChartData = {
                labels: [
                    'O', 'C', 'E', 'A', 'N'
                ],
                datasets: [{
                    label: 'ds',
                    borderWidth: 1,
                    data: [
                        {{ o }}, {{ c }}, {{ e }}, {{ a }}, {{ n }}
{#                        0.45,0.45, 0.45, 0.45, 0.45,#}
                    ],
                    backgroundColor: ['rgba(243, 250, 37, 0.40)', 'rgb(255, 99, 132, 0.40)','rgb(0, 255, 0, 0.40)',
                        'rgb(255, 99, 132, 0.40)','rgb(128, 255, 0, 0.40)',]
                }],
                options: {
                    scales: {xAxes: [{ticks: {beginAtZero: true}}]}
                },
            };


            window.onload = function () {

                var oceanChart = document.getElementById('oceanChart').getContext('2d');
                oceanChart.height = 500;
                window.myRadarChart = new Chart(oceanChart, {
                    type: 'polarArea',
                    data: oceanChartData,
                    options: {
                        responsive: true,
                        legend: {
                            display: true,
                        },
                        title: {
                            display: true,
                            text: 'OCEAN model predictions',
                        }
                    }
                });

                var openness = document.getElementById('opennessChart').getContext('2d');
                openness.height = 500;
                window.myHorizontalBar = new Chart(openness, {
                    type: 'horizontalBar',
                    data: opennessHorizontalBarChartData,
                    options: options
                });
                var conscientious = document.getElementById('conscientiousChart').getContext('2d');
                conscientious.height = 500;
                window.myHorizontalBar = new Chart(conscientious, {
                    type: 'horizontalBar',
                    data: conscientiousHorizontalBarChartData,
                    options: options
                });
                var extraversion = document.getElementById('extraversionChart').getContext('2d');
                extraversion.height = 500;
                window.myHorizontalBar = new Chart(extraversion, {
                    type: 'horizontalBar',
                    data: extraversionHorizontalBarChartData,
                    options: options
                });
                var agreeableness = document.getElementById('agreeablenessChart').getContext('2d');
                agreeableness.height = 500;
                window.myHorizontalBar = new Chart(agreeableness, {
                    type: 'horizontalBar',
                    data: agreeablenessHorizontalBarChartData,
                    options: options
                });
                var neuroticism = document.getElementById('neuroticismChart').getContext('2d');
                neuroticism.height = 500;
                window.myHorizontalBar = new Chart(neuroticism, {
                    type: 'horizontalBar',
                    data: neuroticismHorizontalBarChartData,
                    options: options
                });
            };
        {% endif %}

        {% if location %}
            function initMap() {
                const myLatLng = {lat: -25.363, lng: 131.044};
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 4,
                    center: myLatLng,
                });
                new google.maps.Marker({
                    position: myLatLng,
                    map,
                    title: "Hello World!",
                });

                const myLatLng2 = {lat: -24.363, lng: 130.044};
                new google.maps.Marker({
                    position: myLatLng2,
                    map,
                    title: "Hello World!",
                });
            }
        {% endif %}
    </script>

    <!-- Interests charts -->
    <script>
    console.log('0');
        {% if tagcloud %}
            console.log('1');
            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = [];
            console.log('2');
            var myConfig = {
                type: 'wordcloud',
                options: {
                    words: [
                        {% for key, value in tagcloud.items() %}
                            {% if value > 0 %}
                                {
                                    text: {{ key }},
                                    count: {{ value }}
                                },
                            {% endif %}
                        {% endfor %}
                    ],
                    rotate: true,
                    style: {
                        fontFamily: 'Crete Round',

                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'tagcloudChart',
                data: myConfig,
                height: '50%',
                width: '100%'
            });
        {% endif %}
        {% if wordcloud %}

            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []

            var wordcloudConfig = {
                type: 'wordcloud',
                options: {
                    text: '{{ wordcloud }}',
                    rotate: true,
                    style: {
                        fontFamily: 'Crete Round',

                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'wordcloudChart',
                data: wordcloudConfig,
                height: '50%',
                width: '100%'
            });
        {% endif %}
        {% if bigrams %}

            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
            zingchart.MODULESDIR = 'https://cdn.zingchart.com/modules/';
            tokens = []

            var bigramsConfig = {
                type: 'wordcloud',
                options: {
                    text: '{{ bigrams }}',
                    rotate: true,
                    style: {
                        fontFamily: 'Crete Round',

                        hoverState: {
                            backgroundColor: '#D32F2F',
                            borderRadius: 2,
                            fontColor: 'white'
                        },
                        tooltip: {
                            text: '%text: %hits',
                            visible: true,
                            alpha: 0.9,
                            backgroundColor: '#1976D2',
                            borderRadius: 2,
                            borderColor: 'none',
                            fontColor: 'white',
                            fontFamily: 'Georgia',
                            textAlpha: 1
                        }
                    }
                }
            };

            zingchart.render({
                id: 'bigramsChart',
                data: bigramsConfig,
                height: '50%',
                width: '100%'
            });
        {% endif %}
    </script>
{% endblock %}
