{#    <script>#}
{#        // bar chart#}
{#        {% if openness_explain %}#}
{##}
{#            var horizontalBarChartData = {#}
{#                labels: [#}
{#                    {% for key, value in openness_explain.items() %}#}
{#                        '{{ key }}',#}
{#                    {% endfor %}#}
{#                ],#}
{#                datasets: [{#}
{#                    label: 'Dataset 1',#}
{#                    borderWidth: 1,#}
{#                    data: [#}
{#                        {% for key, value in openness_explain.items() %}#}
{#                            {{ value }},#}
{#                        {% endfor %}#}
{#                    ],#}
{#                    barThickness: 10,#}
{#                }],#}
{#                options: {scales: {xAxes: [{ticks: {beginAtZero: true}}]}},#}
{#            };#}
{##}
{#            window.onload = function () {#}
{#                var ctx = document.getElementById('opennessChart').getContext('2d');#}
{#                ctx.height = 500;#}
{#                window.myHorizontalBar = new Chart(ctx, {#}
{#                    type: 'horizontalBar',#}
{#                    data: horizontalBarChartData,#}
{#                    options: {#}
{#                        // Elements options apply to all of the options unless overridden in a dataset#}
{#                        // In this case, we are setting the border of each horizontal bar to be 2px wide#}
{#                        elements: {#}
{#                            rectangle: {#}
{#                                borderWidth: 2,#}
{#                            }#}
{#                        },#}
{#                        responsive: true,#}
{#                        legend: {#}
{#                            display: false,#}
{#                        },#}
{#                        title: {#}
{#                            display: true,#}
{#                            text: 'Gender Feature importance'#}
{#                        }#}
{#                    }#}
{#                });#}
{##}
{#            };#}
{##}
{#        {% endif %}#}
{#    </script>#}
{#    <!-- Conscientious charts -->#}
{#    <script>#}
{#        // bar chart#}
{#        {% if conscientious_explain %}#}
{#            var horizontalBarChartData = {#}
{#                labels: [#}
{#                    {% for key, value in conscientious_explain.items() %}#}
{#                        '{{ key }}',#}
{#                    {% endfor %}#}
{#                ],#}
{#                datasets: [{#}
{#                    label: 'Dataset 1',#}
{#                    borderWidth: 1,#}
{#                    data: [#}
{#                        {% for key, value in conscientious_explain.items() %}#}
{#                            {{ value }},#}
{#                        {% endfor %}#}
{#                    ],#}
{#                    barThickness: 10,#}
{#                }],#}
{#                options: {scales: {xAxes: [{ticks: {beginAtZero: true}}]}},#}
{##}
{#            };#}
{##}
{#            window.onload = function () {#}
{#                var ctx = document.getElementById('conscientiousChart').getContext('2d');#}
{#                ctx.height = 500;#}
{#                window.myHorizontalBar = new Chart(ctx, {#}
{#                    type: 'horizontalBar',#}
{#                    data: horizontalBarChartData,#}
{#                    options: {#}
{#                        // Elements options apply to all of the options unless overridden in a dataset#}
{#                        // In this case, we are setting the border of each horizontal bar to be 2px wide#}
{#                        elements: {#}
{#                            rectangle: {#}
{#                                borderWidth: 2,#}
{#                            }#}
{#                        },#}
{#                        responsive: true,#}
{#                        legend: {#}
{#                            display: false,#}
{#                        },#}
{#                        title: {#}
{#                            display: true,#}
{#                            text: 'Conscientious Feature importance'#}
{#                        }#}
{#                    }#}
{#                });#}
{#            };#}
{##}
{#        {% endif %}#}
{#    </script>#}
{#    <!-- extraversion charts -->#}
{#    <script>#}
{#        // bar chart#}
{#        {% if extraversion_explain %}#}
{#            var horizontalBarChartData = {#}
{#                labels: [#}
{#                    {% for key, value in extraversion_explain.items() %}#}
{#                        '{{ key }}',#}
{#                    {% endfor %}#}
{#                ],#}
{#                datasets: [{#}
{#                    label: 'Dataset 1',#}
{#                    borderWidth: 1,#}
{#                    data: [#}
{#                        {% for key, value in extraversion_explain.items() %}#}
{#                            {{ value }},#}
{#                        {% endfor %}#}
{#                    ],#}
{#                    barThickness: 10,#}
{##}
{#                }],#}
{#                options: {scales: {xAxes: [{ticks: {beginAtZero: true}}]}},#}
{##}
{#            };#}
{##}
{#            window.onload = function () {#}
{#                var ctx = document.getElementById('extraversionChart').getContext('2d');#}
{#                ctx.height = 500;#}
{#                window.myHorizontalBar = new Chart(ctx, {#}
{#                    type: 'horizontalBar',#}
{#                    data: horizontalBarChartData,#}
{#                    options: {#}
{#                        // Elements options apply to all of the options unless overridden in a dataset#}
{#                        // In this case, we are setting the border of each horizontal bar to be 2px wide#}
{#                        elements: {#}
{#                            rectangle: {#}
{#                                borderWidth: 2,#}
{#                            }#}
{#                        },#}
{#                        responsive: true,#}
{#                        legend: {#}
{#                            display: false,#}
{#                        },#}
{#                        title: {#}
{#                            display: true,#}
{#                            text: 'Extraversion Feature importance'#}
{#                        }#}
{#                    }#}
{#                });#}
{##}
{#            };#}
{#        {% endif %}#}
{#    </script>#}